{% extends "base.html" %}

{% block content %}

<h2>Tag</h2>
<ul>
    {% for tag in object_list %}
    <li><a href="{% url 'tag_detail' tag.name %}">{{ tag }}</a></li>
    {% endfor %}
</ul>

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="{% url 'tag_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="{% url 'tag_list' %}?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
{% endif %}

{% endblock %}
